<h1>CPE 400 Project Web Interface</h1>
<h3>By Amir Behmaram, Austyn Herman, and Tyler Frasca</h3>

<div>Arduino 1 (Master) Status:
  <span style="color:<%= @status1['status'] == true ? 'green' : @status1['status'] == nil ? 'blue' : 'red' %>">
    <%= @status1['status'] == true ? 'Connected' : @status1['status'] == nil ? 'Waiting...' : 'Disconnected' %>
  </span>
</div>

<div>Arduino 2 (Slave) Status:
  <span style="color:<%= @status2['status'] == true ? 'green' : @status2['status'] == nil ? 'blue' : 'red' %>">
    <%= @status2['status'] == true ? 'Connected' : @status2['status'] == nil ? 'Waiting...' : 'Disconnected' %>
  </span>
</div>

<br>
<button onClick="connectConnection(1)">Connect Arduino 1 (Master)</button>
<button onClick="connectConnection(2)">Connect Arduino 2 (Slave)</button>

<br>
<button onClick="resetConnection(1)">Reset Arduino 1 (Master)</button>
<button onClick="resetConnection(2)">Reset Arduino 2 (Slave)</button>

<br>
<button onClick="errorConnection(1)">Error Arduino 1 (Master)</button>
<button onClick="errorConnection(2)">Error Arduino 2 (Slave)</button>

<br>
<button onClick="removePhotos()">Remove Photos</button>

<div>
  <h4>Photos</h4><br>
  <% @photos.each do |photo| %>
    <image src='<%= photo.image %>'>
  <% end %>
</div>

<script>
  var connectConnection = function(id) {
    $.post('/connect', {
      id: id
    })
  }

  var resetConnection = function(id) {
    $.post('/reset', {
      id: id
    })
  }

  var errorConnection = function(id) {
    $.post('/error', {
      id: id
    })
  }

  var removePhotos = function() {
    $.get('/remove_photos');
  }
</script>
