<h1>CPE 400 Project Web Interface</h1>
<h2>By Amir Behmaram, Austyn Herman, and Tyler Frasca</h2>
<hr>
<br>
<h3 style="text-decoration: underline">Arduinos</h3>
<div>
  <% @arduinos.each do |arduino| %>
    <div>Arduino <%= arduino.id %> <%= arduino.id == 1 ? '(Master)' : nil %> Status:
      <span style="color:<%= arduino.status == true ? 'green' : arduino.status == nil ? 'blue' : 'red' %>">
        <%= arduino.status == true ? 'Connected' : arduino.status == nil ? 'Waiting...' : 'Disconnected' %>
      </span>
    </div>
    <button onClick="connect_arduino(<%= arduino.id %>)">Connect Arduino <%= arduino.id %> <%= arduino.id == 1 ? '(Master)' : nil %></button>
    <button onClick="reset_arduino(<%= arduino.id %>)">Reset Arduino <%= arduino.id %> <%= arduino.id == 1 ? '(Master)' : nil %></button>
    <button onClick="error_arduino(<%= arduino.id %>)">Error Arduino <%= arduino.id %> <%= arduino.id == 1 ? '(Master)' : nil %></button>
    <br><br>
  <% end %>
</div>

<br>
<h3 style="text-decoration: underline">Bluetooth Devices</h3>
<button id="bluetooth-scan">Scan for Bluetooth Devices</button>
<br><br>
<div>
  <% @bluetooth_devices.each do |bluetooth_device| %>
    <div>Bluetooth Device <%= bluetooth_device.id %> <%= bluetooth_device.id == 1 ? '(Master)' : nil %> Status:
      <span style="color:<%= bluetooth_device.status == true ? 'green' : bluetooth_device.status == nil ? 'blue' : 'red' %>">
        <%= bluetooth_device.status == true ? 'Connected' : bluetooth_device.status == nil ? 'Waiting...' : 'Disconnected' %>
      </span>
      <% if bluetooth_device.name != nil %>
        <br>
        Name: <%= bluetooth_device.name %>
      <% end %>
      <% if bluetooth_device.device_id != nil %>
        <br>
        Device id: <%= bluetooth_device.device_id %>
      <% end %>
    </div>
    <button onClick="reset_bluetooth_device(<%= bluetooth_device.id %>)">Reset Bluetooth Device <%= bluetooth_device.id %> <%= bluetooth_device.id == 1 ? '(Master)' : nil %></button>
    <br><br>
  <% end %>
</div>

<br>
<h3 style="text-decoration: underline">Magnetic Sensors</h3>
<div>
  <% @magnetic_sensors.each do |magnetic_sensor| %>
    <div>Magnetic Sensor <%= magnetic_sensor.id %> Status:
      <span style="color:<%= magnetic_sensor.status == true ? 'green' : magnetic_sensor.status == nil ? 'blue' : 'red' %>">
        <%= magnetic_sensor.status == true ? 'Connected' : magnetic_sensor.status == nil ? 'Waiting...' : 'Disconnected' %>
      </span>
    </div>
    <button onClick="connect_magnetic_sensor(<%= magnetic_sensor.id %>)">Connect Magnetic Sensor <%= magnetic_sensor.id %> </button>
    <button onClick="reset_magnetic_sensor(<%= magnetic_sensor.id %>)">Reset Magnetic Sensor <%= magnetic_sensor.id %> </button>
    <button onClick="error_magnetic_sensor(<%= magnetic_sensor.id %>)">Error Magnetic Sensor <%= magnetic_sensor.id %> </button>
    <br><br>
  <% end %>
</div>

<br>
<h3 style="text-decoration: underline">Intrusions</h3>
<div>
  <% @intrusions.each do |intrusion| %>
    <div><span style="color: red">Intrusion</span> on
      <%= intrusion.created_at.strftime("%A %B %e, %Y at %l:%M %p") %>
      on Magnetic Sensor <%= intrusion.magnetic_sensor_id %>
    </div>
  <% end %>
</div>

<br>
<h3 style="text-decoration: underline">Photos</h3>
<div>
  <button onClick="removePhotos()">Remove Photos</button>
  <br><br>
  <% @photos.each do |photo| %>
    <div><span style="color: red">Photo</span> taken on
      <%= photo.created_at.strftime("%A %B %e, %Y at %l:%M %p") %>
    </div>
    <image src='<%= photo.image %>'>
  <% end %>
</div>

<script>
  var connect_arduino = function(id) {
    $.post('/connect_arduino', {
      id: id
    })
  }

  var reset_arduino = function(id) {
    $.post('/reset_arduino', {
      id: id
    })
  }

  var error_arduino = function(id) {
    $.post('/error_arduino', {
      id: id
    })
  }

  var reset_bluetooth_device = function(id) {
    $.post('/reset_bluetooth_device', {
      id: id
    })
  }

  var connect_magnetic_sensor = function(id) {
    $.post('/connect_magnetic_sensor', {
      id: id
    })
  }

  var reset_magnetic_sensor = function(id) {
    $.post('/reset_magnetic_sensor', {
      id: id
    })
  }

  var error_magnetic_sensor = function(id) {
    $.post('/error_magnetic_sensor', {
      id: id
    })
  }

  var removePhotos = function() {
    $.get('/remove_photos');
  }

  const button = document.querySelector('#bluetooth-scan');
  button.addEventListener('click', function() {
	navigator.bluetooth.requestDevice({
		filters: [{
      name: ['HC-06']
			//services: ['battery_service']
		},
    {
      name: ['HC-05']
    }]
	  }).then(device => {
		  console.log('Found bluetooth device:', device.name);
		  console.log('Bluetooth device id:', device.id);

      if(device.name == "HC-05") {
        $.post('/connect_bluetooth_device', {
          id: 1,
          name: device.name,
          device_id: device.id
        })
      }
      else if(device.name == "HC-06") {
        $.post('/connect_bluetooth_device', {
          id: 2,
          name: device.name,
          device_id: device.id
        })
      }
      else if(device == null) {
        $.get('/error_bluetooth_devices');
      }
	 }).catch(error => {
     $.get('/error_bluetooth_devices');
   });
  });
</script>
